.about-us {
  min-height: 340px;
  margin-bottom: 20px;
}

.about-us__banner img {
  @include accent-border;
  min-width: 100%;
  object-fit: cover;
}

.about-us__tab li {
  border-radius: 5px;
  min-width: 15%;
  margin-right: 10px;
}

.about-us__tab>ul>li>a {
  color: $accent-main;
}

.about-us__tab>ul>li.active>a,
.about-us__tab>ul>li.active>a:focus,
.about-us__tab>ul>li.active>a:hover {
  background-color: $accent-main;
}
