.page-header__inner {
  background-color: $accent-main;
  border-radius: 5px;
}

.page-header__nav {
  margin-bottom: 10px;
}

.page-header a,
.page-header span {
  color: $basic-white;
}

.page-header li:hover a {
    color: $accent-main;
}
